openapi: 3.0.1
info:
  title: Action Management API
  description: |
    An API for managing device management action.
    To login, reboot, reset, or setting port.
    Also getting action list for all devices and individual device actions.
  contact:
    name: Edgeway
    email: devops.vep@smardtv.com
  version: 1.0.0

servers:
  - url: https://ewm-preprod.edgeway.io
    description: Dev Server
  
  - url: https://ewm-preprod-mt.edgeway.io
    description: Prod Server

paths:
  /api/management/v1/action/{deviceId}:
    get:
      summary: Get the device action.
      description: Get the device action.
      security:
      - bearerAuth: []
      parameters:
      - name: deviceId
        in: path
        description: device id of device under question
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: device action returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/action'
        400:
          description: Missing/malformed request parameters or body. See error for
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update the device action.
      description: Update the device action.
      security:
      - bearerAuth: []
      parameters:
      - name: deviceId
        in: path
        description: device id of device under question
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        204:
          description: device action is updated.
        400:
          description: Missing/malformed request parameters or body. See error for
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete the action of a device.
      description: Delete the action of a device.
      security:
      - bearerAuth: []
      parameters:
      - name: deviceId
        in: path
        description: device id of device under question
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: device action is deleted.
        400:
          description: Missing/malformed request parameters or body. See error for
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/management/v1/action/list:
    get:
      summary: Get the list of device actions.
      description: Get the list of device actions.
      security:
      - bearerAuth: []
      parameters:
      - name: page
        in: query
        description: Starting page, default 1.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of results per page, default 20.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        200:
          description: A list of local configurations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfActions'
        400:
          description: Missing/malformed request parameters or body. See error for
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Description of the error.
        request_id:
          type: string
          description: Request ID (same as in X-MEN-RequestID header).
      description: Error descriptor.
      example:
        error: 'Error string'
        request_id: f7881e82-0492-49fb-b459-795654e7188a

    UserNew:
      required:
      - email
      - password
      type: object
      properties:
        email:
          type: string
          description: A unique email address. Invalid characters are non-ascii and
            '+'.
        password:
          type: string
          description: Password.
      description: New user descriptor.
      example:
        application/json:
          email: user@acme.com
          password: mypass1234

    UserUpdate:
      type: object
      properties:
        email:
          type: string
          description: A unique email address.
        password:
          type: string
          description: Password.
      description: Update user information.
      example:
        application/json:
          email: new_email@acme.com

    User:
      required:
      - email
      - id
      type: object
      properties:
        email:
          type: string
          description: A unique email address.
        id:
          type: string
          description: User Id.
        created_ts:
          type: string
          description: |
            Server-side timestamp of the user creation.
          format: date-time
        updated_ts:
          type: string
          description: |
            Server-side timestamp of the last user information update.
          format: date-time
      description: User descriptor.
      example:
        application/json:
          email: user@acme.com
          id: 806603def19d417d004a4b67e
          created_ts: 2016-10-03T16:58:51.639Z
          updated_ts: 2016-10-04T11:33:66.611Z

    action:
      type: object
      properties:
        config_details:
          type: string
          description: JSON string with device action details
        device_id:
          type: string
          description: device id for which action has triggerd
        id:
          type: string
          description: db assigned id
        created_ts:
          type: string
          description: Created timestamp
          format: datetime
        updated_ts:
          type: string
          description: Updated timestamp
          format: datetime
      description: device action model
      example:
        actions: '{"Reboot":"true", "reset":"true", "uart":"true","open_port":"80"}'
        created_ts: 2019-04-16T06:44:16.386Z
        device_id: "1"
        env_vars: '{"config_poll_interval":"2", "flavor_poll_interval":"2","actions_poll_interval":"2"}'
        id: 5cb579c066b19200019d546f
        updated_ts: 2019-04-16T06:44:16.386Z

    ArrayOfActions:
      type: array
      description: array of local configurations
      items:
        $ref: '#/components/schemas/action'

    Settings:
      type: object
      description: User settings.
