openapi: 3.0.1
info:
  version: '1.0.0'
  title: 'Device inventory Management API'
  description: 'An API for device attribute management and device grouping. Intended for use by the web GUI.
                Devices can upload vendor-specific attributes (software/hardware info, 
                health checks, metrics, etc.) of various data types to the backend.

                This API enables the user to:
                * list devices with their attributes
                * search devices by attribute value
                * use the results to create and manage device groups for the purpose of deployment scheduling'
  contact:
    name: Edgeway
    email: devops.vep@smardtv.com

servers:
  - url: https://ewm-preprod.edgeway.io
    description: Dev Server
  
  - url: https://ewm-preprod-mt.edgeway.io
    description: Prod Server

paths:
  /api/management/v1/inventory/devices:
    get:
      summary: List devices
      description: |
        Returns a paged collection of devices and their attributes.
        Accepts optional search and sort parameters.

        **Searching**
        Searching by attributes values is accomplished by appending attribute
        name/value pairs to the query string, e.g.:

        ```
        GET /devices?attr_name_1=foo&
                     attr_name_2=100&
                     ...
        ```
      security:
      - bearerAuth: []
      parameters:
      - name: page
        in: query
        description: Starting page.
        schema:
          type: number
          format: integer
          default: 1.0
      - name: per_page
        in: query
        description: Number of results per page.
        schema:
          type: number
          format: integer
          default: 10.0
      - name: sort
        in: query
        description: |
          Supports sorting the device list by attribute values.

          The parameter is formatted as a list of attribute names and sort directions, e.g.:

          '?sort=attr1:asc, attr2:desc'

          will sort by 'attr1' ascending, and then by 'attr2' descending. 'desc' is the default
          sort direction, and can be omitted.
        schema:
          type: string
      - name: has_group
        in: query
        description: If present, limits the results only to devices assigned/not assigned
          to a group.
        schema:
          type: boolean
      - name: group
        in: query
        description: If present, limits the results only to devices belonging to the
          given group.
        schema:
          type: string
      responses:
        200:
          description: Successful response.
          headers:
            X-Total-Count:
              description: Custom header indicating the total number of devices for
                the given query parameters
              schema:
                type: string
            Link:
              description: |
                Standard header, used for page navigation.

                Supported relation types are 'first', 'next' and 'prev'.
              schema:
                type: string
          content:
            application/json:
              schema:
                title: ListOfDevices
                type: array
                items:
                  $ref: '#/components/schemas/Device'
            '*/*':
              example:
              - id: 291ae0e5956c69c2267489213df4459d19ed48a806603def19d417d004a4b67e
                attributes:
                - name: ip_addr
                  value: 1.2.3.4
                  description: IP address
                - name: mac_addr
                  value: 00.01:02:03:04:05
                  description: MAC address
                - name: ports
                  value:
                  - "8080"
                  - "8081"
                  description: Open ports
                updated_ts: 2016-10-03T16:58:51.639Z
              - id: 76f40e5956c699e327489213df4459d1923e1a806603def19d417d004a4a3ef
                attributes:
                - name: mac
                  value: 00:01:02:03:04:05
                  description: MAC address
                updated_ts: 2016-10-04T18:24:21.432Z
        400:
          description: Missing or malformed request parameters. See error for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/management/v1/inventory/devices/{id}:
    get:
      summary: Get a selected device
      description: Returns the details of the selected devices, including its attributes.
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        description: Device identifier.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful response - the device was found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
            "*/*":
              example:
                id: 291ae0e5956c69c2267489213df4459d19ed48a806603def19d417d004a4b67e
                attributes:
                - name: ip_addr
                  value: 1.2.3.4
                  description: IP address
                - name: mac_addr
                  value: 00.01:02:03:04:05
                  description: MAC address
                - name: ports
                  value:
                  - "8080"
                  - "8081"
                  description: Open ports
                updated_ts: 2016-10-03T16:58:51.639Z
        404:
          description: The device was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Remove selected device
      description: Deletes all information concerning the device, including its attributes.
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        description: Device identifier.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Device removed
          content: {}
        500:
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/management/v1/inventory/devices/{id}/group:
    get:
      summary: Get a selected device's group
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        description: Device identifier.
        required: true
        schema:
          type: string
      responses:
        200:
          description: |
            Successful response.

            If the device is not assigned to any group, the 'group' field will be set to 'null'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            '*/*':
              example:
                group: testing
        400:
          description: Missing or malformed request params or body. See the error
            message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The device was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Add a device to a group
      description: |
        Adds a device to a group.

        Note that a given device can belong to at most one group.
        If a device already belongs to some group, it will be moved
        to the selected one.
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        description: Device identifier.
        required: true
        schema:
          type: string
      requestBody:
        description: Group descriptor.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      responses:
        204:
          description: Success - the device was added to the group.
          content: {}
        400:
          description: Missing or malformed request params or body. See the error
            message for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The device was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: group
  /api/management/v1/inventory/devices/{id}/group/{name}:
    delete:
      summary: Remove a device from a group
      description: |
        Removes the device with identifier 'id' from the group 'group'.
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        description: Device identifier.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Group name.
        required: true
        schema:
          type: string
      responses:
        204:
          description: The device was successfully removed from the group.
          content: {}
        404:
          description: The device was not found or doesn't belong to the group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/management/v1/inventory/groups:
    get:
      summary: List groups
      description: Returns a collection of all defined device groups.
      security:
      - bearerAuth: []
      responses:
        200:
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  title: ListOfGroupNames
                  type: string
                  description: Group name
            '*/*':
              example:
              - staging
              - testing
              - production
        500:
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/management/v1/inventory/groups/{name}/devices:
    get:
      summary: List the devices belonging to a given group
      description: |
        Returns a paged collection of device IDs.
      security:
      - bearerAuth: []
      parameters:
      - name: page
        in: query
        description: Starting page.
        schema:
          type: number
          format: integer
          default: 1.0
      - name: per_page
        in: query
        description: Number of results per page.
        schema:
          type: number
          format: integer
          default: 10.0
      - name: name
        in: path
        description: Group name.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful response
          headers:
            X-Total-Count:
              description: Custom header indicating the total number of devices in
                the given group
              schema:
                type: string
            Link:
              description: Standard header, we support 'first', 'next', and 'prev'.
              schema:
                type: string
          content:
            application/json:
              schema:
                title: ListOfIDs
                type: array
                items:
                  type: string
        400:
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The group was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Attribute:
      required:
      - name
      - value
      type: object
      properties:
        name:
          type: string
          description: |
            A human readable, unique attribute ID, e.g. 'device_type', 'ip_addr', 'cpu_load', etc.
        description:
          type: string
          description: Attribute description.
        value:
          type: string
          description: |
            The current value of the attribute.

            Attribute type is implicit, inferred from the JSON type.

            Supported types: number, string, array of numbers, array of strings. Mixed arrays are not allowed.
      description: Attribute descriptor.
      example:
        application/json:
          name: cpu_load
          description: The current CPU load.
          value: 42
    Device:
      type: object
      properties:
        id:
          type: string
          description: Edgeway-assigned unique ID.
        updated_ts:
          type: string
          description: Timestamp of the most recent attribute update.
        attributes:
          type: array
          description: A list of attribute descriptors.
          items:
            $ref: '#/components/schemas/Attribute'
      example:
        application/json:
          id: 291ae0e5956c69c2267489213df4459d19ed48a806603def19d417d004a4b67e
          attributes:
          - name: ip_addr
            value: 1.2.3.4
            description: IP address
          - name: mac_addr
            value: 00.01:02:03:04:05
            description: MAC address
          - name: ports
            value:
            - "8080"
            - "8081"
            description: Open ports
          updated_ts: 2016-10-03T16:58:51.639Z
    Group:
      required:
      - group
      type: object
      properties:
        group:
          type: string
      description: Device group.
      example:
        application/json:
          group: staging
    Error:
      type: object
      properties:
        error:
          type: string
          description: Description of the error.
        request_id:
          type: string
          description: Request ID (same as in X-MEN-RequestID header).
      description: Error descriptor.
      example:
        application/json:
          error: 'Error String'
          request_id: f7881e82-0492-49fb-b459-795654e7188a
