openapi: 3.0.0
info:
  version: '1.0.0'
  title: 'Local Confiuguration Management API'
  description: 'API for managing  local configurations.
                For device to store a bulk of data inside server database.
                Device is responsible of creating/updating/deleting content of data.
                Data is unique by device'
  contact:
    name: Edgeway
    email: devops.vep@smardtv.com

servers:
  - url: https://ewm-preprod.edgeway.io
    description: Dev Server
  
  - url: https://ewm-preprod-mt.edgeway.io
    description: Prod Server

paths:
  /api/management/v1/localconf/lconf/list/{deviceId}:
    post:
      description: Add local configuration
      summary: Add local configuration
      security:
      - bearerAuth: []
      parameters:
        - in: path
          name: deviceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalConf'
      responses:
          200:
            description: Successfull addition of the local configuration

          400:
            description: Missing/malformed request parameters or body. See error for details.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'

          401:
            description: The device is not authenticated.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'

          500:
            description: Internal error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
  /api/management/v1/localconf/lconf/list:
    get:
      summary: Get the list of local configurations.
      description: Get the list of local configurations.
      security:
      - bearerAuth: []
      parameters:
        - in: query
          name: page
          description: Starting page, default 1.
          required: false
          schema:
            type: integer
          
        - in: query
          name: per_page
          description: Number of results per page, default 20.
          required: false
          schema:
            type: integer
      responses:
        200:
          description: A list of local configurations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfLconf'
        400:
          description: Missing/malformed request parameters or body. See error for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        401:
          description: The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v1/localconf/lconf/{deviceId}:
    get:
      summary: Get the local configuration of a device.
      description: Get the local configuration of a device.
      security:
      - bearerAuth: []
      parameters: 
        - in: path
          name: deviceId
          required: true
          description: device id of device under question
          schema:
            type: string
      responses:
        200:
          description: local configuration of a device returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lconf'
        400:
          description: Missing/malformed request parameters or body. See error for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        401:
          description: The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete the local configuration of a device.
      description: Delete the local configuration of a device.
      security:
      - bearerAuth: []
      parameters: 
        - in: path
          name: deviceId
          required: true
          description: device id of device under question
          schema:
            type: string
      responses:
        200:
          description: local configuration of a device is deleted.
          
        400:
          description: Missing/malformed request parameters or body. See error for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        401:
          description: The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                
    put:
      summary: Update the local configuration of a device.
      description: Update the local configuration of a device.
      security:
      - bearerAuth: []
      parameters: 
        - in: path
          name: deviceId
          required: true
          description: device id of device under question
          schema:
            type: string
            
      responses:
        200:
          description: local configuration of a device is updated.
          
        400:
          description: Missing/malformed request parameters or body. See error for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        401:
          description: The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /api/management/v1/localconf/lconf/list/count:
    get:
      summary: Get the count of local configurations.
      description: Get the count of local configurations.
      security:
      - bearerAuth: []
      responses:
        200:
          description: local configurations count.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    description: number of entries in db
                    type: integer
                example: 
                  count: 5
        400:
          description: Missing/malformed request parameters or body. See error for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        401:
          description: The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        500:
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  
  responses:
    UnauthorizedError:
      description: Access token in missing or invalid
  schemas:      
    Error:
      description: Error descriptor.
      type: object
      properties:
        error:
          description: Description of the error.
          type: string
        request_id:
          description: Request ID (same as in X-MEN-RequestID header).
          type: string
      example:
        error: "Error string"
        request_id: "f7881e82-0492-49fb-b459-795654e7188a"

    Lconf:
      description: local configurations model
      type: object
      properties:
        config_details:
          description: JSON string with configurations details
          type: string
        device_id:
          description: device id for which local configuration is created
          type: string
        id:
          description: db assigned id
          type: string
        created_ts:
          type: string
          format: datetime
          description: Created timestamp
        updated_ts:
          type: string
          format: datetime
          description: Updated timestamp
      example:
       config_details: "{ \"protection_type\" : \"LinkProt\", \"key_rotation_period\" : \"15\", \"key_predelivery_win\" : \"1\", \"cam_net_if\" : \"eth0\", \"cam_onvif_port\" : \"92\", \"cam_rtsp_port\" : \"990\", \"cam_addr\" : \"9900\", \"cam_port\" : \"121\" }"
       created_ts: "2019-04-16T06:44:16.386Z"
       device_id: "5ca5a5e53654df850001145049"
       id: "5cb579c066b19200019d546f"
       updated_ts: "2019-04-16T06:44:16.386Z"
    
    ArrayOfLconf:
      description: array of local configurations
      type: array
      items:
        $ref: '#/components/schemas/Lconf'

    LocalConf:
      description: local configurations model
      type: object
      properties:
        id:
          description: db assigned id
          type: string
        device_id:
          description: device id for which local configuration is created
          type: string
        uuid:
          type: string
        config_details:
          description: JSON string with configurations details
          type: string
        created_ts:
          type: string
          format: datetime
          description: Created timestamp
        updated_ts:
          type: string
          format: datetime
          description: Updated timestamp
