openapi: '3.0.0'
info:
  version: '1.0.0'
  title: 'Vcamlogic EWx API'
  description: 'EWx API for getting the rabbitmq configuration'
  contact:
    name: Edgeway
    email: devops.vep@smardtv.com

servers:
  - url: https://ewm-preprod.edgeway.io
    description: Dev Server
  
  - url: https://ewm-preprod-mt.edgeway.io
    description: Prod Server

paths:
  /api/edgeway/ewc/v1/preferences/tenants/{tid}/rmqconf:
    description: Get rabbitmq configuration.
    get:
      summary: Get rabbitmq configuration.
      description: Get rabbitmq configuration.
      security:
        - bearerAuth: []
      parameters:
        - name: tid
          in: path
          description: Tenant id
          required: true
          schema:
            type: string
            default: 1
      responses:
        200:
          description: An array of Preferences server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vcamRmqConf'
        400:
          description: Missing/malformed request params.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/edgeway/ewc/v1/vcamlogic/tenants/{tid}/devices:
    description: Update vcam status for all the devices in the tenant.
    put:
      security:
        - bearerAuth: []
      description: Update vcam status for all the devices in the tenant.
      parameters:
        - in: path
          name: tid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vcams'
      responses:
        201:
          description: Update successful.
        400:
          description: Missing/malformed request params.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/edgeway/ewc/v1/vcamlogic/devices:
    description: Device list.
    get:
      security:
        - bearerAuth: []
      description: Get devices list.
      parameters:
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: per_page
          schema:
            type: integer
      responses:
          200:
            description: Get device list successfull.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ArrayDevice'
          400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
          401:
            description: Unauthorised access.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
          404:
            description: not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
          500:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
    put:
      summary: Update vcam device commands
      description: Update vcam device commands
      security:
      - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VCamsUpdate'
      responses:
        201:
          description: Success to update device commands.
        400:
          description: Missing or malformed request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
            description: Unauthorised access.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/edgeway/ewc/v1/vcamlogic/devices/{did}:
    description: Information about particular device using device ID.
    get:
      summary: Get vcam informations by device ID.
      description: Get vcam informations by device ID.
      security:
      - bearerAuth: []
      parameters:
        - in: path
          name: did
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success to get device.
                       And also on no device found by ID will have Empty object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDevice'
        400:
          description: Missing or malformed request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
            description: Unauthorised access.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/edgeway/ewc/v1/vcamlogic/devices/{did}/camera/{mac}/slots/{idx}:
    description: Get information of particular virtual camera.
    get:
      description: Get information of particular virtual camera.
      summary: Get information of particular virtual camera.
      security:
      - bearerAuth: []
      parameters:
        - in: path
          name: did
          required: true
          schema:
            type: string
        - in: path
          name: mac
          required: true
          schema:
            type: string
        - in: path
          name: idx
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success to get vcam information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera'
        400:
          description: Missing or malformed request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
            description: Unauthorised access.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Access token in missing or invalid

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Description of the error.
        request_id:
          type: string
          description: Request ID (same as in X-MEN-RequestID header).
      description: Error descriptor.
      example:
        error: 'Error string'
        request_id: f7881e82-0492-49fb-b459-795654e7188a
    
    vcamRmqConf:
      type: object
      properties:
        vhost:
          type: string
        user:
          type: string
        pwd:
          type: string
        exchange:
          type: string
        route_key:
          type: string
      example:
        {"vhost":"/","user":"rabbitmq","pwd":"Edgeway999Platform","exchange":"vcamlogic","route_key":"vcamlogic.afca7616-3ce0-4deb-a729-775f0d07b2d0.fef70632-d6e1-48b2-82b9-42f0ae5cfb8d"}

    error:
      description: vcam status error
      type: object
      properties:
        state:
          type: string
        msg:
          type: string

    info:
      description: vcam info
      type: object
      properties:
        slotIndex:
          type: integer
        uptime:
          type: integer
        restartCount:
          type: integer
        type:
          type: string
        command:
          type: string
        status:
          type: string
        error:
          $ref: '#/components/schemas/error'

    vcams:
      description: vcam devices
      type: object
      properties:
        deviceId:
          type: string
        mac:
          type: string
        info:
          type: array
          items:
            $ref: '#/components/schemas/info'

    Camera:
      description: camera struct
      type: object
      properties:
        slot_index:
          type: integer
        uuid:
          type: string
        mac:
          type: string
        user_name:
          type: string
        password:
          type: string
        public_ip:
          type: string
        cameraTestedStatus:
          type: integer
        onvif_port:
          type: integer
        onvif_url:
          type: string
        rtsp_port:
          type: integer
        rtsp_url:
          type: string
        rtsp_channels:
          type: string
        cameraNvrRecRtspPreferred:
          type: string
        cameraAnalyzeRtspPreferred:
          type: string
        info:
          type: string

    ActiveCamera:
      description: active cameras
      properties:
        slot_index:
          type: string
        mac:
          type: string
        partof:
          type: string

    Device:
      description: device struct
      type: object
      properties:
        id:
          type: string
        device_id:
          type: string
        device_uuid:
          type: string
        device_mac:
          type: string
        slot_configuration:
          type: array
          items:
            $ref: '#/components/schemas/Camera'
        slots:
          type: object
          properties:
            string:
              type: array
              items:
                properties:
                  string:
                    type: array
                    items:
                      $ref: '#/components/schemas/Camera'
        slot_index:
          type: string
        active_cams:
          type: array
          items:
            $ref: '#/components/schemas/ActiveCamera'
        created_ts:
          type: string
        updated_ts:
          type: string
    ArrayDevice:
      description: array of devices
      type: array
      items:
        $ref: '#/components/schemas/Device'
        example: [{"deviceId":"603e36e24d50c80001d46c35","deviceMAC":"","UUID":"54d1ac67-96fd-4b13-b672-2c1eaa1350fc","vcams":[{"slotIndex":1,"mac":"b4:a3:82:47:89:7f","cameraBrand":"HIKVISION","cameraModel":"DS-2CD2542FWD-IS","uuid":"8502f8e6-02ed-4702-87d9-f6f535c92e7c","userName":"adminHK","password":"Aveiro35HK","onvifPort":7501,"onvifUrl":"http://smart-ewc.edgeway.io:7501/onvif/device_service","rtspPort":7701,"RtspUrl":"rtsp://smart-ewc.edgeway.io:7701/proxyStreamer_profile_1","serverIP":"","cameraRtspChannels":[{"profileName":"mainStream","rtspUrl":"rtsp://192.168.1.24:554/Streaming/Channels/101?transportmode=unicast\u0026profile=Profile_1","codec":"H264","resolution":2688,"fps":25},{"profileName":"subStream","rtspUrl":"rtsp://192.168.1.24:554/Streaming/Channels/102?transportmode=unicast\u0026profile=Profile_2","codec":"H264","resolution":2688,"fps":25}],"cameraNvrRecRtspPreferred":"mainStream","cameraAnalyzeRtspPreferred":"mainStream","info":{"uptime":0,"restartCount":0,"type":"","command":"","status":"","error":{"state":"","msg":""}}}]}]

    VcamCommands:
      description: vcam commands
      type: object
      properties:
        command:
          type: string
        command_type:
          type: string
        vcams:
          type: array
          items:
            properties:
              mac:
                type: string
              slotIndex:
                type: integer
              port:
                type: string
  
    Client:
      description: client information.
      type: object
      properties:
        ip_addr:
          type: string
        mode:
          type: string
        port:
          type: string
        connectionTime:
          type: string

    VCamsUpdate:
      description: Vcam status, multicast port and IP, and heartbeat update.
      properties:
        vcams:
          type: array
          items:
            properties:
              device_id:
                type: string
              info:
                type: array
                items:
                  properties:
                    slotIndex:
                      type: string
                    mac:
                      type: string
                    multicast_ip:
                      type: string
                    multicast_port:
                      type: string
                    uptime:
                      type: string
                    restartCount:
                      type: string
                    status:
                      type: string
                    error:
                      type: object
                      properties:
                        state:
                          type: string
                        msg:
                          type: string
                    bitrate:
                      type: string
                    clients:
                      type: array
                      items:
                      $ref: '#/components/schemas/Client'


    getDevice:
      description: device info
      type: object
      properties:
        deviceId:
          type: string
        deviceMAC:
          type: string
        UUID:
          type: string
        vcams:
          type: array
          items:
            $ref: '#/components/schemas/vcams'
      example: '{"deviceId":"603e36e24d50c80001d46c35","deviceMAC":"","UUID":"54d1ac67-96fd-4b13-b672-2c1eaa1350fc","vcams":[{"slotIndex":1,"mac":"b4:a3:82:47:89:7f","cameraBrand":"HIKVISION","cameraModel":"DS-2CD2542FWD-IS","uuid":"8502f8e6-02ed-4702-87d9-f6f535c92e7c","userName":"adminHK","password":"Aveiro35HK","onvifPort":7501,"onvifUrl":"http://smart-ewc.edgeway.io:7501/onvif/device_service","rtspPort":7701,"RtspUrl":"rtsp://smart-ewc.edgeway.io:7701/proxyStreamer_profile_1","serverIP":"","cameraRtspChannels":[{"profileName":"mainStream","rtspUrl":"rtsp://192.168.1.24:554/Streaming/Channels/101?transportmode=unicast\u0026profile=Profile_1","codec":"H264","resolution":2688,"fps":25},{"profileName":"subStream","rtspUrl":"rtsp://192.168.1.24:554/Streaming/Channels/102?transportmode=unicast\u0026profile=Profile_2","codec":"H264","resolution":2688,"fps":25}],"cameraNvrRecRtspPreferred":"mainStream","cameraAnalyzeRtspPreferred":"mainStream","info":{"uptime":0,"restartCount":0,"type":"","command":"","status":"","error":{"state":"","msg":""}}}}]}'
