openapi: 3.0.0
info:
  version: '1.0.0'
  title: 'Vcamlogic Mnagement API'
  description: 'API for managing  virtual camera logic configuration.
                To get and update vcam devices. Get device by ID.
                Update slot configuration for particular device.'
  contact:
    name: Edgeway
    email: devops.vep@smardtv.com

servers:
  - url: https://ewm-preprod.edgeway.io
    description: Dev Server
  
  - url: https://ewm-preprod-mt.edgeway.io
    description: Prod Server

paths:
  /api/management/v1/vcamlogic/devices:
    get:
      description: |
        Get device list.
      summary: |
        Get device list.
      security:
      - bearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Success to get the devices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayDevice'
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Update devices
      summary: Update devices
      security:
      - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VCamsUpdate'
      responses:
        201:
          description: Success to update devices.
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v1/vcamlogic/devices/{did}/vcams/commands:
    description: Update vcam device commands
    put:
      summary: Update vcam device commands
      description: Update vcam device commands
      security:
      - bearerAuth: []
      parameters:
        - in: path
          name: did
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VcamCommands'
      responses:
        201:
          description: Success to update device commands.
        400:
          description: Missing or malformed request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v1/vcamlogic/devices/{did}:
    description: Get device by device ID
    get:
      summary: Get device by device ID
      description: Get device by device ID
      security:
      - bearerAuth: []
      parameters:
        - in: path
          name: did
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success to get device.
                       And also on no device found by ID will have Empty object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDevice'
        400:
          description: Missing or malformed request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
            description: Unauthorised access.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v1/vcamlogic/devices/{did}/camera/{mac}/slots/{idx}:
    description: Update and get device camera slots.
    put:
      summary: Update and get device camera slots.
      description: Update and get device camera slots.
      security:
      - bearerAuth: []
      parameters:
        - in: path
          name: did
          required: true
          schema:
            type: string
        - in: path
          name: mac
          required: true
          schema:
            type: string
        - in: path
          name: idx
          required: true
          schema:
            type: string
      responses:
        201:
          description: Success to update the camera slots.
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get camera for device by deviceID, mac and index.
      description: Get camera for device by deviceID, mac and index.
      security:
      - bearerAuth: []
      parameters:
        - in: path
          name: did
          required: true
          schema:
            type: string
        - in: path
          name: mac
          required: true
          schema:
            type: string
        - in: path
          name: idx
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success to get the device camera slots.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v1/vcamlogic/tenants/{tid}/devices:
    description: Update vcam status for all the devices in the tenant.
    put:
      security:
        - bearerAuth: []
      description: Update vcam status for all the devices in the tenant.
      parameters:
        - in: path
          name: tid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vcams'
      responses:
        201:
          description: Update successful.
        400:
          description: Missing/malformed request params.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v1/vcamlogic/devices/{did}/camera/{mac}/slots/{idx}/type:
    description: Update type of virtual camera.
    put:
      description: Update type of virtual camera.
      summary: Update type of virtual camera.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: did
          required: true
          schema:
            type: string
        - in: path
          name: mac
          required: true
          schema:
            type: string
        - in: path
          name: idx
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vcamType'
      responses:
        201:
          description: Update successful.
        400:
          description: Missing/malformed request params.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Description of the error.
        request_id:
          type: string
          description: Request ID (same as in X-MEN-RequestID header).
      description: Error descriptor.
      example:
        error: 'failed to decode device group data: JSON payload is empty'
        request_id: f7881e82-0492-49fb-b459-795654e7188a

    Camera:
      description: camera struct
      type: object
      properties:
        slot_index:
          type: integer
        uuid:
          type: string
        mac:
          type: string
        user_name:
          type: string
        password:
          type: string
        public_ip:
          type: string
        cameraTestedStatus:
          type: integer
        onvif_port:
          type: integer
        onvif_url:
          type: string
        rtsp_port:
          type: integer
        rtsp_url:
          type: string
        rtsp_channels:
          type: string
        cameraNvrRecRtspPreferred:
          type: string
        cameraAnalyzeRtspPreferred:
          type: string
        info:
          type: string
      example: {"slot_index":7,"uuid":"e37448c4-13dc-4361-a89e-f5b0c08622b3","mac":"00:07:5f:b3:e7:77","camera_brand":"Bosch","camera_model":"FLEXIDOME IP micro 3000i","user_name":"admin","password":"Aveiro-35","type":"","public_ip":"","private_ip":"","cameraTestedStatus":2,"onvif_port":7507,"onvif_url":"http://smart-ewc.edgeway.io:7507/onvif/device_service","rtsp_port":7707,"rtsp_url":"rtsp://smart-ewc.edgeway.io:7707/proxyStreamer_profile_1","rtsp_channels":[{"profileName":"H26x_L1S1","rtspUrl":"rtsp://192.168.1.199/rtsp_tunnel?p=0\u0026h26x=4\u0026vcd=2","codec":"H264","resolution":3072,"fps":20},{"profileName":"H26x_L1S2","rtspUrl":"rtsp://192.168.1.199/rtsp_tunnel?p=1\u0026inst=2\u0026h26x=4","codec":"H264","resolution":3072,"fps":20},{"profileName":"JPEG_L1S3","rtspUrl":"rtsp://192.168.1.199/rtsp_tunnel?h26x=0","codec":"JPEG","resolution":3072,"fps":20}],"cameraNvrRecRtspPreferred":"H26x_L1S1","cameraAnalyzeRtspPreferred":"H26x_L1S1","info":{"uptime":0,"restartCount":0,"type":"","command":"","status":"","error":{"state":"","msg":""}}}
    ActiveCamera:
      description: active cameras
      properties:
        slot_index:
          type: string
        mac:
          type: string
        partof:
          type: string

    Device:
      description: device struct
      type: object
      properties:
        id:
          type: string
        device_id:
          type: string
        device_uuid:
          type: string
        device_mac:
          type: string
        slot_configuration:
          type: array
          items:
            $ref: '#/components/schemas/Camera'
        slots:
          type: object
          properties:
            string:
              type: array
              items:
                properties:
                  string:
                    type: array
                    items:
                      $ref: '#/components/schemas/Camera'
        slot_index:
          type: string
        active_cams:
          type: array
          items:
            $ref: '#/components/schemas/ActiveCamera'
        created_ts:
          type: string
        updated_ts:
          type: string
    ArrayDevice:
      description: array of devices
      type: array
      items:
        $ref: '#/components/schemas/Device'
        example: [{"deviceId":"603e36e24d50c80001d46c35","deviceMAC":"","UUID":"54d1ac67-96fd-4b13-b672-2c1eaa1350fc","vcams":[{"slotIndex":1,"mac":"b4:a3:82:47:89:7f","cameraBrand":"HIKVISION","cameraModel":"DS-2CD2542FWD-IS","uuid":"8502f8e6-02ed-4702-87d9-f6f535c92e7c","userName":"adminHK","password":"Aveiro35HK","onvifPort":7501,"onvifUrl":"http://smart-ewc.edgeway.io:7501/onvif/device_service","rtspPort":7701,"RtspUrl":"rtsp://smart-ewc.edgeway.io:7701/proxyStreamer_profile_1","serverIP":"","cameraRtspChannels":[{"profileName":"mainStream","rtspUrl":"rtsp://192.168.1.24:554/Streaming/Channels/101?transportmode=unicast\u0026profile=Profile_1","codec":"H264","resolution":2688,"fps":25},{"profileName":"subStream","rtspUrl":"rtsp://192.168.1.24:554/Streaming/Channels/102?transportmode=unicast\u0026profile=Profile_2","codec":"H264","resolution":2688,"fps":25}],"cameraNvrRecRtspPreferred":"mainStream","cameraAnalyzeRtspPreferred":"mainStream","info":{"uptime":0,"restartCount":0,"type":"","command":"","status":"","error":{"state":"","msg":""}}}]}]

    error:
      description: vcam status error
      type: object
      properties:
        state:
          type: string
        msg:
          type: string

    info:
      description: vcam info
      type: object
      properties:
        slotIndex:
          type: integer
        uptime:
          type: integer
        restartCount:
          type: integer
        type:
          type: string
        command:
          type: string
        status:
          type: string
        error:
          $ref: '#/components/schemas/error'

    vcams:
      description: vcam devices
      type: object
      properties:
        deviceId:
          type: string
        mac:
          type: string
        info:
          type: array
          items:
            $ref: '#/components/schemas/info'

    VCamsUpdate:
      description: array vcam device update
      type: object
      properties:
        vcams:
          type: array
          items:
            $ref: '#/components/schemas/vcams'

    VcamCommands:
      description: vcam commands
      type: object
      properties:
        command:
          type: string
        command_type:
          type: string
        vcams:
          type: array
          items:
            properties:
              mac:
                type: string
              slotIndex:
                type: integer
              port:
                type: string

    getDevice:
      description: device info
      type: object
      properties:
        deviceId:
          type: string
        deviceMAC:
          type: string
        UUID:
          type: string
        vcams:
          type: array
          items:
            $ref: '#/components/schemas/vcams'
      example: '{"deviceId":"603e36e24d50c80001d46c35","deviceMAC":"","UUID":"54d1ac67-96fd-4b13-b672-2c1eaa1350fc","vcams":[{"slotIndex":1,"mac":"b4:a3:82:47:89:7f","cameraBrand":"HIKVISION","cameraModel":"DS-2CD2542FWD-IS","uuid":"8502f8e6-02ed-4702-87d9-f6f535c92e7c","userName":"adminHK","password":"Aveiro35HK","onvifPort":7501,"onvifUrl":"http://smart-ewc.edgeway.io:7501/onvif/device_service","rtspPort":7701,"RtspUrl":"rtsp://smart-ewc.edgeway.io:7701/proxyStreamer_profile_1","serverIP":"","cameraRtspChannels":[{"profileName":"mainStream","rtspUrl":"rtsp://192.168.1.24:554/Streaming/Channels/101?transportmode=unicast\u0026profile=Profile_1","codec":"H264","resolution":2688,"fps":25},{"profileName":"subStream","rtspUrl":"rtsp://192.168.1.24:554/Streaming/Channels/102?transportmode=unicast\u0026profile=Profile_2","codec":"H264","resolution":2688,"fps":25}],"cameraNvrRecRtspPreferred":"mainStream","cameraAnalyzeRtspPreferred":"mainStream","info":{"uptime":0,"restartCount":0,"type":"","command":"","status":"","error":{"state":"","msg":""}}}}]}'
    
    vcamType:
      description: Vcam type.
      type: object
      properties:
        type:
          type: string
