openapi: 3.0.0
info:
  version: '1.0.0'
  title: 'Vcamlogic Mnagement V1 and V2 API for VCAM, PCAM and PP'
  description: 'API for managing  virtual camera logic configuration.
                To get and update vcam devices. Get device by ID.
                Update slot configuration for particular device.'
  contact:
    name: Edgeway
    email: devops.vep@smardtv.com

servers:
  - url: https://ewm-preprod.edgeway.io
    description: Dev Server

  - url: https://ewm-preprod-mt.edgeway.io
    description: Prod Server

paths:
  /api/management/v1/vcamlogic/devices:
    get:
      description: |
        Get device list.
      summary: |
        Get device list.
      security:
      - bearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Success to get the devices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayDevice'
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v1/vcamlogic/devices/{did}/vcams/commands:
    description: Update vcam device commands
    put:
      summary: Update vcam device commands
      description: Update vcam device commands
      security:
      - bearerAuth: []
      parameters:
        - in: path
          name: did
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VcamCommands'
      responses:
        204:
          description: Success to update device commands.
        400:
          description: Missing or malformed request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v1/vcamlogic/devices/{did}:
    description: Get device by device ID
    get:
      summary: Get device by device ID
      description: Get device by device ID
      security:
      - bearerAuth: []
      parameters:
        - in: path
          name: did
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success to get device.
                       And also on no device found by ID will have Empty object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        400:
          description: Missing or malformed request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
            description: Unauthorised access.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v2/vcamlogic/vcams:
    description: Get/Post VCAM.
    get:
      summary: Get VCAM's info.
      description: Get VCAM's info.
      security:
      - bearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Success to get the devices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCams'
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Create VCAM clone by UUID
      summary: Get VCAM's info.
      security:
      - bearerAuth: []
      parameters:
        - name: primary
          description: Primary VCAM UUID
          in: query
          required: true
          schema:
            type: string
        - name: copies
          in: query
          required: true
          schema:
            type: string
      responses:
        201:
          description: Success clone the VCAM.
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v2/vcamlogic/vcams/{uuid}:
    description: Update and Delete VCAM by UUID.
    put:
      summary: Update Vcam.
      description: Update Vcam.
      security:
      - bearerAuth: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VCUpdate'
      responses:
        204:
          description: Success to update vcam.
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete secondary vcam by UUID.
      summary: Delete secondary vcam by UUID.
      security:
      - bearerAuth: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Success delete secondary vcam.
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v2/vcamlogic/pp/{pp}/count:
    get:
      summary: Get Physical camera count for features enabled/disabled.
      description: Get Physical camera count for features enabled/disabled.
      security:
      - bearerAuth: []
      parameters:
        - name: pp
          in: path
          required: true
          schema:
            type: string
        - name: configured
          in: query
          required: true
          schema:
            type: boolean
          description: false will get pcam count does not have pp feature enabled
                      true will get pcam count which have pp feature enabled
      responses:
        200:
          description: Success to get the devices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v2/vcamlogic/vcams/{uuid}/pp/{type}:
    description: Restart VCAM by UUID and Type.
    put:
      summary: Restart Vcam.
      description: Restart Vcam.
      security:
      - bearerAuth: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: restart
          in: query
          required: true
          description: values must be true or false
          schema:
            type: string
      responses:
        202:
          description: Success to restart vcam.
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v2/vcamlogic/pp/{pp}:
    description: Get and update post process by type.
    get:
      summary: Get post process for vcams by type.
      description: Get post process for vcams by type.
      security:
      - bearerAuth: []
      parameters:
        - name: pp
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Succes to get the SPTS information for VCAMs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostProcessFeature'
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: update post process of vcams.
      security:
      - bearerAuth: []
      parameters:
        - name: pp
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostProcessFeature'
      responses:
        202:
          description: Succes to update the SPTS information for VCAMs.
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v1/vcamlogic/pcams:
    description: Get PCAMs.
    get:
      summary: Get PCAM's.
      description: Get PCAM's.
      security:
      - bearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Success to get the physical cameras.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PCams'
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/management/v1/vcamlogic/pcams/{id}:
    delete:
      description: Delete physical camera.
      summary: Delete physical camera.
      security:
      - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Success delete physical camera.
        400:
            description: Missing/malformed request params.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        401:
          description: Unauthorised access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Description of the error.
        request_id:
          type: string
          description: Request ID (same as in X-MEN-RequestID header).
      description: Error descriptor.
      example:
        error: 'failed to decode device group data: JSON payload is empty'
        request_id: f7881e82-0492-49fb-b459-795654e7188a

    Count:
      description: count
      type: object
      properties:
        count:
          type: string

    VCam:
      description: virtual camera struct
      type: object
      properties:
        slotIndex:
          type: integer
        mac:
          type: string
        cameraBrand:
          type: string
        label:
          type: string
        cameraModel:
          type: string
        uuid:
          type: string
        userName:
          type: string
        password:
          type: string
        onvifPort:
          type: integer
        onvifUrl:
          type: string
        rtspPort:
          type: integer
        RtspUrl:
          type: string
        serverIP:
          type: string
        privateIP:
          type: string
        type:
          type: string
        cameraRtspChannels:
          type: array
          items:
             $ref: '#/components/schemas/RtspChannel'
        cameraNvrRecRtspPreferred:
          type: string
        cameraAnalyzeRtspPreferred:
          type: string
        info:
          type: array
          items:
            $ref: '#/components/schemas/VCinfo'
        ewc_instance_fqdn:
          type: string
        ewc_instance_name:
          type: string
        ewc_instance_id:
          type: string
        heartbeat:
          type: string
        device_uuid:
          type: string
        pcam_uuid:
          type: string
        primary_vcam_uuid:
          type: string
        publish_port:
          type: string
        post_processes:
          type: array
          items:
            $ref: '#/components/schemas/PostProcessInfo'

    Device:
      description: device struct
      type: object
      properties:
        deviceId:
          type: string
        deviceMAC:
          type: string
        UUID:
          type: string
        vcams:
          type: array
          items:
            $ref: '#/components/schemas/VCam'

    ArrayDevice:
      description: array of devices
      type: array
      items:
        $ref: '#/components/schemas/Device'

    error:
      description: vcam status error
      type: object
      properties:
        state:
          type: string
        msg:
          type: string

    RtspChannel:
      description: Rtsp channels.
      type: object
      properties:
        profileName:
          type: string
        rtspUrl:
          type: string
        codec:
          type: string
        resolution:
          type: integer
        fps:
          type: integer

    VCams:
      description: Vcam array.
      type: array
      items:
        $ref: '#/components/schemas/VCam'

    PostProcessInfo:
      description: Post processes
      type: object
      properties:
        uuid:
          type: string
        label:
          type: string
        type:
          type: string
        dst_multicast_ip:
          type: string
        dst_multicast_port:
          type: string
        src_multicast_ip:
          type: string
        status:
          type: string
        error:
          type: object
          items:
            $ref: '#/components/schemas/PPError'

    PPError:
      type: object
      properties:
        state:
          type: string
        msg:
          type: string

    VCinfo:
      description: vcam info
      type: object
      properties:
        uptime:
          type: string
        restartCount:
          type: integer
        type:
          type: string
        command:
          type: string
        status:
          type: string
        error:
          $ref: '#/components/schemas/error'
        clients:
          type: array
          items:
            $ref: '#/components/schemas/Client'
        bitrate:
          type: string

    Client:
      description: client information.
      type: object
      properties:
        ip_addr:
          type: string
        mode:
          type: string
        port:
          type: string
        connectionTime:
          type: string

    VCUpdate:
      description: VCAM type update.
      properties:
        vcaupdate:
          type: object
          properties:
            change:
              type: string
              description: update type could be "type", "ewc", "state"
            value:
              type: string
              description: values could be public, private

    VcamCommands:
      description: vcam commands
      type: object
      properties:
        command:
          type: string
        command_type:
          type: string
        vcams:
          type: array
          items:
            properties:
              mac:
                type: string
              slotIndex:
                type: integer
              port:
                type: string

    SPTS:
      description: Post process SPTS information.
      type: object
      properties:
        uuid:
          type: string
        label:
          type: string
        status:
          type: string
        src_multicast_ip:
          type: string
        dst_multicast_ip:
          type: string
        dst_multicast_port:
          type: string

    PostProcessFeature:
      description: Post process features information.
      type: object
      properties:
        date:
          type: string
        spts:
          type: array
          items:
            $ref: '#/components/schemas/SPTS'
    
    PCams:
      description: array of physical cameras.
      type: array
      items:
        $ref: '#/components/schemas/PCam'

    PCam:
      description: Physical camera struct
      type: object
      properties:
        id:
          type: string
        uuid:
          type: integer
        mac:
          type: string
        cameraBrand:
          type: string
        cameraModel:
          type: string
        serial_number:
          type: string
        hardware_id:
          type: string
        firmware_version:
          type: string
        userName:
          type: string
        password:
          type: string
        label:
          type: integer
        cameraRtspChannels:
          type: array
          items:
             $ref: '#/components/schemas/RtspChannel'
        active_route:
          type: string
        alternative_routes:
          type: array
          items:
            properties:
              alternative_routes:
                type: string
        virtual_cameras:
          type: array
          items:
            properties:
              alternative_routes:
                type: string
        MainRtsp:
          type: string
        IpAddr:
          type: string
        TestedStatus:
          type: integer
        heartbeat:
          type: string
        dst_multicast_ip:
          type: string
        src_multicast_ip:
          type: string
        dst_multicast_port:
          type: string
        spts_created_at:
          type: string
        spts_updated_at:
          type: string
